.carrito {
    position: fixed;
    top: 50px;
    right: 50px;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    z-index: 9999;
  }

  .carrito  h2{
    margin-top: 8rem;
  }