.container-table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.buscar-input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.2rem;
  line-height: 1.5;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 20px;
}

.buscar-input:focus {
  outline: none;
  border-color: #0077cc;
  box-shadow: 0 0 0 2px #0077cc;
}

table{
    justify-content: center;
    
}
th,tr,td{
  border:1px solid #000;
  width:100px;
  height:30px;
  vertical-align:middle;
  text-align:center;
  
}
th{
  color:#fff;
  background-color: #252525;
  font-size: 1.5rem;
 
}

td{
  cursor: pointer;
}

tr:nth-child(odd) td{
  background-color:#eee;
  font-size: 1.5rem;
  
}

.ej1container{
    margin-top: 30px;
    width: 80%;
    margin: 0 auto;
}

.title1{
    font-size: 3rem;
    text-align: center;
    margin-top: 20px;
}
